.q-table {
    background-color: inherit;
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    th {
        text-align: center;
        border: 1px solid #DDDDDD;
        padding: 5px;
        background-color: #F5F5F5;
    }
    td {
        padding: 5px;
        vertical-align: middle;
        border: 1px solid #DDDDDD;
    }
}
